<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>FACE ID | Регистрация</title>

    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/register.css">
</head>
<body>

<div class="container">
    <p class="title">Регистрация</p>
    <form action="#" class="flex with-full">
        <div class="scan">
            <img src="img/scan.png" alt="scan" class="icon__scan">
            <input type="text" class="input" placeholder="Фамилия">
            <input type="text" class="input" placeholder="Имя">
            <input type="text" class="input" placeholder="Отчество">
        </div>
        <div class="form">
            <input type="text" class="input" placeholder="Логин">
            <input type="text" class="input" placeholder="Пароль">
            <input type="text" class="input" placeholder="Мобильный телефон">
            <input type="text" class="input" placeholder="Email">

            <button type="submit" class="btn bg-transparent btn_submit">Регистрация</button>

            <p class="agree">
                Нажимая “Регистрация”, вы соглашаетесь с
                Условиями использования
                и Политикой конфиденциальности
            </p>

            <a href="index.html" class="form__link">На главную</a>
        </div>
    </form>
</div>


</body>
</html>